@font-face {
    font-family: 'Spiritual Lightning';
    src: url('/fonts/SpiritualLightning.woff2') format('woff2'),
        url('/fonts/SpiritualLightning.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

